@import url("https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300;400;500;600;700&family=Inter:wght@200;300;400;900&family=Prata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Viaoda+Libre&display=swap');

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: "#484848";


  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #1a1a1a;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --dark-gradient: linear-gradient(90deg, #2f2f2f, #2f2f2f);
  --dark-gradient-reverse: linear-gradient(45deg,#E3D7BD, #EBE6D9, #F6F3E7, #F1F1F1, #F0E2CE, #D3D0C9);
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

.css-sq1x3w-MuiContainer-root {
  padding-left: 0;
  padding-right: 0;
}

body {
  /* background-color: "#444444"; */
  background-image: var(--dark-gradient);
  background-size: 300%;
  /* animation: bg-animation 15s infinite alternate; */
  background-attachment: fixed;
  /* margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh; */
}

#fade-button{
  background-image: var(--dark-gradient-reverse);
  background-size: 300%;
  animation: bg-animation 25s infinite alternate;
  background-attachment: fixed;
}

@keyframes bg-animation{
  0% {background-position: left;}
  100% {background-position: right;}
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

hr.white-line{
margin-top: 45px; 
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.responsive-image{
  width: 100%;
  height: auto;
  max-width: 250px;
  }
/* 
@keyframes about-me-animation{
    0% {opacity: 0; filter: blur(5px); transform: translateX(100%);}
    100% {opacity: 1; filter: blur(0px); transform: translateX(0);}
  }
  
.about-me{
   animation-name: about-me-animation;
   animation-duration: 2s;
   animation-delay: 1s;
  } */
